body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    height: 100vh;
}

h2 {
    text-align: center;
}


#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 30px 50px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px 50px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

button:hover {
    background-color: #b0b0b0;
}

button {
    margin: 0px 3px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
}

#next {
    display: none;
    margin-top: 15px;
}

#hasil {
    font-weight: bold;
    margin-top: 10px;
}

#pilihan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#pilihan button {
  width: 100%;
  max-width: 300px;
}